<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login-style.css"
</head>
<body>
    <div class="flex-container">
        <div class="container">
        <form action="/login" method="post">
            <div class="upper">Welcome User</div>
            <div class="upper-small">Enter your credentials</div>
            <div class="place">
                <input name="email" type="text" placeholder="Email Address" autocomplete="off">
            </div>
            <div class="place">
                <input name="password" type="password" placeholder="Password" autocomplete="off">
            </div>
            <div class="login">
                <button class="login-btn">Login</button>
            </div>
        </form>
        <div class="signup">
                <span>Don't have account yet?</span> <br>
                <a href="/signup"><button class="signup-btn">Signup</button></a>
            </div>
    </div>
    </div>
    
</body>
</html>