<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/tasks-style.css" rel="stylesheet">
    <title>To Do</title>
</head>

<body>
    <h1 class="header">To do List</h1>
    <div class="container">
        <!-- post method -->
        <form id="form" action="/" method="post">
            <input id="addItem" name="task" type="text" autocomplete="off" placeholder="Eg: Buy apples at store">
            <button id="addItemBtn">Add</button>
        </form>
        <div>
            <ul class="list">
                <% if (locals.all_tasks) { %>
                    <% all_tasks.forEach(task=> { %>
                        <div class="task-list">
                            <li><%- task.task %> <button class="delete-btn" data-id="<%- task._id %>">Done</button> </li> 
                        </div>
                        <% }) %>
                            <% } %>
            </ul>
        </div>
    </div>
    <a href="/login"><button class="logout-btn">Logout</button></a>
    <script src="/delete_tasks.js">
        
    </script>
</body>

</html>