

body{
    background: rgb(255, 245, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0px;
}

.container{
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 13px;
    background-color: #ffffff;
    width:400px;
    height:550px;
    border: 1px solid rgb(81, 81, 81);
    
}

.upper{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: black;
    font-family: cursive;
    margin-top:20px;
}

.upper-small{
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0,0.6);
    font-family: cursive;
    margin-top:20px;
    margin-bottom: 20px;
}

.place{
    text-align: center;
}

.place input{
    width:85%;
    height:40px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top:30px;
    border-radius:10px;
    border: 1px solid rgb(180, 180, 180)
}

.signup{
    text-align: center;
}

.signup-btn{
    width:90%;
    height:40px;
    font-size: 18px;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 5px;
    margin-top:30px;
    border-radius:10px;
    border: 1px solid rgb(180, 180, 180);
    background: #213fff;
    color: aliceblue;
}


.login{
    margin-top:30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.login button{
    width:30%;
    height:40px;
    font-size: 18px;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 5px;
    margin-top:15px;
    border-radius:10px;
    border: 1px solid rgb(180, 180, 180);
    background: #213fff;
    color: aliceblue;
}
